@font-face {
  font-family: 'Sukhumvit';
  src: url('SukhumvitSet-Text.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('SukhumvitSet-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Sukhumvit';
  src: url('SukhumvitSet-SemiBold.ttf') format('truetype');
  font-weight: 600;
}