/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600&display=swap');



@keyframes ldio-soqmo0e6scj-r {
  0%, 100% { animation-timing-function: cubic-bezier(0.2 0 0.8 0.8) }
  50% { animation-timing-function: cubic-bezier(0.2 0.2 0.8 1) }
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@keyframes ldio-soqmo0e6scj-s {
  0%, 100% { animation-timing-function: cubic-bezier(0.2 0 0.8 0.8) }
  50% { animation-timing-function: cubic-bezier(0.2 0.2 0.8 1) }
  0% { transform: translate(-23.55px,-23.55px) scale(0) }
  50% { transform: translate(-23.55px,-23.55px) scale(1) }
  100% { transform: translate(-23.55px,-23.55px) scale(0) }
}
.ldio-soqmo0e6scj > div { transform: translate(0px,-11.775px) }
.ldio-soqmo0e6scj > div > div {
  animation: ldio-soqmo0e6scj-r 1s linear infinite;
  transform-origin: 78.5px 78.5px;
}
.ldio-soqmo0e6scj > div > div > div {
  position: absolute;
  transform: translate(78.5px, 64.37px);
}
.ldio-soqmo0e6scj > div > div > div > div {
  width: 47.1px;
  height: 47.1px;
  border-radius: 50%;
  background: #ffba3c;
  animation: ldio-soqmo0e6scj-s 1s linear infinite;
}
.ldio-soqmo0e6scj > div > div:last-child {
  animation-delay: -0.5s;
}
.ldio-soqmo0e6scj > div > div:last-child > div > div {
  animation-delay: -0.5s;
  background: #0a7142;
}
.loadingio-spinner-interwind-gexbfemc9g9 {
  width: 157px;
  height: 157px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-soqmo0e6scj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-soqmo0e6scj div { box-sizing: content-box; }
/* generated by https://loading.io/ */